@charset "UTF-8";
@font-face{
    font-family:'mine';
    src: url(/font/minecraft_pe/MINECRAFT\ PE.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    height: 100%;
}
h2{
    font-family: 'mine', Helvetica, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.img_selecao {
    flex: 1; /* Parte menor: 1/3 */
    background: url(/img/img_minecraft.jpg) no-repeat center center;
    background-size: cover;
}

.forma_selecao {
    flex: 2; /* Parte maior: 2/3 */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 40px;
}

.forma_box {
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 14px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.forma_box h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #78C042;
}

.forma_box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #78C042;
}

.forma_box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #5dd4ff;
    border-radius: 5px;
}

.forma_box button {
    width: 100%;
    padding: 12px;
    background-color: #78C042;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.forma_box button:hover {
    background-color: #548F27;
}

.forma_box p {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.forma_box a {
    color: #4ED0FF;
    text-decoration: none;
}   